body {
  min-width: 450px;
  margin: 10px;
  background-color: #c6c6c6;
  color: #404040;
}

h1 {
  clear: left;
}

#grid {
  float: left;
  margin-bottom: 16px;
}

.gridCell {
  float: left;
  width: 36px;
  height: 36px;
  background-color: #8b8b8b;
  border-top: thick double #373737;
  border-left: thick double #373737;
  border-right: double #FFFFFF;
  border-bottom: double #FFFFFF;
}

.gridCell img {
  padding: 2px;
}

#grid .gridCell:nth-child(3n+1) {
  clear: left;
}

.arrow {
  float: left;
  padding: 20px;
  font-size: 64px;
}

#result {
  float: left;
  width: 132px;
  height: 132px;
  text-align: center;
  padding-top: 8px;
  box-sizing: border-box;
  background-color: #8b8b8b;
  border-top: thick double #373737;
  border-left: thick double #373737;
  border-right: double #FFFFFF;
  border-bottom: double #FFFFFF;
}

#inventory .gridCell:nth-child(9n+1) {
  clear:left;
}
